.profile-main{
    background: linear-gradient(to right bottom, #db987e, #c8a166);
    width: 45%;
    margin: auto;
    height: 40rem;
    border-radius: 10px;
    box-sizing: border-box; 
    box-shadow: 3px 6px 40px #000;
}

.card {
    width: 350px;
    background-color: #eb7777;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn-secondary {
    height: 140px;
    width: 140px;
    border-radius: 50%
    
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: rgb(143, 82, 82);
    color: #cc7b7b;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #1b1364;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}